<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/data.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Boolzapp VueJs</title>
    </head>
    <body class= "d-flex flex-jc-center flex-align-center">
        <div id="appWindow" class="container">
          <div class="box-menu">
            <!-- Utente loggato  -->
            <div class="tab user-tab">
              <div class="user-info flex-jc-space-b flex-align-center">
                  <div class="avatar-box" v-model="userAccount">
                    <img :src="userAccount.userAvatar" alt="user avatar">
                    <h4>{{ userAccount.userName }}</h4>
                  </div>
                  <!-- menu utente loggato -->
                  <div class="icon-menu">
                    <i class="clickable fas fa-circle-notch"></i>
                    <i class="clickable fas fa-comment-alt"></i>
                    <i class="clickable fas fa-ellipsis-v"></i>
                  </div>
              </div>
            </div>
            <!-- bottone notifiche -->
            <div class="notif-tab d-flex flex-jc-start flex-align-center">
              <div class="notif-icon d-flex flex-jc-center flex-align-center">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="notif-message">
                <h4>Ricevi notifica di nuovi messaggi</h4>
                <a href="#">Attiva notifiche Desktop</a>
              </div>
            </div>
            <!-- tab per la ricerca dei contatti -->
            <div class="search-tab">
              <input type="text"name="search-contact" v-model="inputSearchContact" placeholder="&#xF002; Search">
            </div>
            <!-- lista contatti -->
            <div class="box-contacts">
                <ul>
                  <template v-for="(scheda, index) in contactsFiltered" v-model="chatSelector">
                    <li :class="{active: (scheda == contactActive)}" class="contact-label clickable d-flex flex-jc-start flex-align-center" @click="changeChat(scheda)">
                      <img :src="scheda.avatarContact" :alt="'immagine di'+ scheda.nome">
                      <div class="">
                        <h5>{{scheda.nome}}</h5>
                        <div class="msgLast">{{scheda.chat[scheda.chat.length-1].text}}</div>
                      </div>
                    </li>
                  </template>
                </ul>
            </div>
          </div>
          <!-- box della chat / parte destra dell'App -->
          <div class="box-chat">
            <!-- tab della chat del contatto selezionato -->
            <div class="tab chat-tab">
              <div class="contact-chat-info d-flex flex-jc-start flex-align-center">
                <img :src="contactActive.avatarContact" alt="Avatar contatto della chat">
                <div class="chat-info">
                  <h4>{{contactActive.nome}}</h4>
                  <h6>Ultimo accesso oggi alle {{contactActive.lastSeen}}</h6>
                </div>
              </div>
              <!-- menu della chat -->
              <div class="icon-menu">
                <i class="clickable fas fa-search"></i>
                <i class="clickable fas fa-paperclip"></i>
                <i class="clickable fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- finestra della chat (messaggi inviati e ricevuti) -->
            <div class="chatWindow d-flex flex-dir-col flex-jc-start">
              <template v-for="(el, index) in contactActive.chat">
                <div :class="{ sended: el.mittente, received: (el.mittente == 0) }" class="msg">
                  <div class="msg-container  d-flex flex-jc-space-b">
                    <div class="msgText">{{ el.text }}</div>
                    <div class="msgMenu d-flex flex-jc-center flex-dir-col">
                      <a class="first-menu" @click="deleteMsg(index)" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="msgDate">
                    {{el.data}}
                  </div>
                </div>
              </template>
            </div>
            <!-- tab per l'invio di un messaggio -->
            <div class="tab inputChatTab d-flex flex-jc-space-b flex-align-center">
              <button id="btnEmoticon"
                class="clickable"
                type="button"
                name="emoticon">
                <i class="far fa-smile"></i>
              </button>
              <input type="text" name="inputMessage" placeholder="Inserisci messaggio" v-model="message.text" @keydown.enter="sendMessage(contactActive)">
              <button id="btnAudioMessage" class="clickable" type="button" name="AudioMessage"><i class="fas fa-microphone"></i></button>
            </div>
          </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>
